.loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa {
    background: var(--loader-color);
}
.loadingthrobber_Container_3sa1N img {
    content: var(--loader-image);
	width: auto;
	height: auto;
	transform: var(--loader-scale);
	transform-origin: var(--loader-position);
}