.loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa {
    background: #FFFFFF;
}

.loadingthrobber_Container_3sa1N img {
    content: url(/themes_custom/CustomLoader/images/labs.gif);
    height: 250px;
    width: 250px;
}
