.loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa {
    background: #e7dfdd;
}

.loadingthrobber_Container_3sa1N img {
    content: url(/themes_custom/Custom%20Loader/images/cat.gif);
    height: 50%;
    width: 50%;
}
