.loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa,
.loadingthrobber_Container_3sa1N.loadingthrobber_ContainerBackground_2ngG3 {
    background: #e7dfdd !important;
}

.loadingthrobber_Container_3sa1N img {
    content: url("/themes_custom/Custom%20Loader/images/cat.gif");
    height: 250px;
    width: 250px;
}
