.loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa,
.loadingthrobber_Container_3sa1N.loadingthrobber_ContainerBackground_2ngG3 {
    background: var(--loader-color) !important;
}
.loadingthrobber_Container_3sa1N img {
	content: var(--loader-image);
	position: var(--loader-position);
	right: var(--loader-right);
	left: var(--loader-left);
	top: var(--loader-top);
	bottom: var(--loader-bottom);

}

.loadingthrobber_Container_3sa1N img.loadingthrobber_Medium_39-WT {
    width: var(--loader-size);
    height: auto;
}
