.loadingthrobber_Container_3sa1N.loadingthrobber_PreloadThrobber_1-epa {
    background: var(--loader-color);
}
.loadingthrobber_Container_3sa1N img {
	content: var(--loader-image);
	width: var(--loader-size);
	height: auto;
	position: var(--loader-position);
	right: var(--loader-right);
	left: var(--loader-left);
	top: var(--loader-top);
	bottom: var(--loader-bottom);

}
